@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';

@layer utilities {
  .text-primary-50 { color: var(--color-primary-50); }
  .text-primary-100 { color: var(--color-primary-100); }
  .text-primary-200 { color: var(--color-primary-200); }
  .text-primary-300 { color: var(--color-primary-300); }
  .text-primary-400 { color: var(--color-primary-400); }
  .text-primary-500 { color: var(--color-primary-500); }
  .text-primary-600 { color: var(--color-primary-600); }
  .text-primary-700 { color: var(--color-primary-700); }
  .text-primary-800 { color: var(--color-primary-800); }
  .text-primary-900 { color: var(--color-primary-900); }
  .text-primary-950 { color: var(--color-primary-950); }

  .bg-primary-50 { background-color: var(--color-primary-50); }
  .bg-primary-100 { background-color: var(--color-primary-100); }
  .bg-primary-200 { background-color: var(--color-primary-200); }
  .bg-primary-300 { background-color: var(--color-primary-300); }
  .bg-primary-400 { background-color: var(--color-primary-400); }
  .bg-primary-500 { background-color: var(--color-primary-500); }
  .bg-primary-600 { background-color: var(--color-primary-600); }
  .bg-primary-700 { background-color: var(--color-primary-700); }
  .bg-primary-800 { background-color: var(--color-primary-800); }
  .bg-primary-900 { background-color: var(--color-primary-900); }
  .bg-primary-950 { background-color: var(--color-primary-950); }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --color-primary-50: #e6f0ff;
  --color-primary-100: #c2daff;
  --color-primary-200: #93bbff;
  --color-primary-300: #649bff;
  --color-primary-400: #3b7aff;
  --color-primary-500: #0059c4;
  --color-primary-600: #004aad;
  --color-primary-700: #1d348a;
  --color-primary-800: #142562;
  --color-primary-900: #0e1943;
  --color-primary-950: #05091e;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}